* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  
  body {
    
    font-family: "Times New Roman", Times, serif;
  }
  
  header {
    background-color: #E5E5E5;
    text-align: center;
    margin: 0%;
  }
  
  h1 {
    background-color: #C4C4C4;
    color: #005677;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
  }
  
  .info {
    padding-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 10%;
    width: 60%;
  }
  
  h2 {
    background-color: #C4C4C4;
    color: #005677;
    font-size: 20px;
    text-transform: uppercase;
  }
  
  .info2 {
    padding-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  ul {
    color: black;
    font-size: 15px;
  }
  
  .negrita {
    font-weight: bold;
  }
  
  .negritaitalics {
    font-weight: bold;
    font-style: italic;
  }
  
  .ulnone {
    list-style-type: none;
  }
  
  .tabulado {
    margin-left: 80px;
  }
  
  p, li {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  footer {
    background-color: #005677;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  